@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=IM+Fell+English&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#f8f3e7] font-serif;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}



.font-cinzel {
  font-family: 'Cinzel', serif;
}

.font-imfell {
  font-family: 'IM Fell English', serif;
}


